.container {
  margin: 0;
  padding: 0;
}

.row {
  margin: 0;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

/*====================
======Typography======
======================*/
h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #666666;
  text-align:justify;
}

h1 {
  color: #63bbb2;
  font-weight: 400;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 3.5em;
  margin-bottom: 0.7em;
  text-decoration: none;
  text-align: left;
  text-shadow: 1px 2px 3px #ccc;
}

a {
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  color: #63bbb2;
  font-weight: 600;
}

p {
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  color:black;
  font-weight: 600;
  text-align:justify;
}

.editor2{
  margin:auto;
  color:hsl(0,0,0%);
  font-weight: 400;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 3.5em;
  margin-bottom: 0.7em;
  text-decoration: none;
  text-align: left;
  text-shadow: 1px 2px 3px #ccc;

}


a:hover, a:focus {
  color: #318c84;
  outline: none;
  text-decoration: none;
  outline-offset: 0;
}

.header {
  background-color: red;
  width: 100%;
}

.header .logo img {
  padding-top: 0.75em;
  width: 100%;
}

.header .navbar-light .navbar-nav .nav-link {
  color: white;
  font-size: 2em;
  font-weight: 600;
}

.header .nav-item {
  margin-left: 1em;
  margin-top: 1em;
}

.header .navbar-light .navbar-toggler {
  background-color: white;
  border-color: white;
}

/*##### footer #####*/
.footer-text p {
  color: black;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
}

/* ##### Slider #### */
.slider {
  background-color: #e3e6e8;
}

.slider h1 {
  color: #9099a2;
  margin-top: 4em;
  text-align: center;
  text-shadow: 2px 2px black;
}

.slider button {
  margin: 5em 0;
  border-style: solid;
  border-color: red;
  background-color: white;
  color: red;
}

@media (max-width: 767px) {
  .slider .slide img {
    left: 35%;
    top: 31%;
  }
}

@media (max-width: 479px) {
  .slider .slide img {
    left: 35%;
    top: 31%;
  }
}

.article-title {
  text-shadow: 2px 2px white;
  text-align: center;
  background-color: #e3e6e8;
  color: black;
  margin-top: 0.5em;
  margin-bottom: 2em;
  font-size: 40px;
}

.articles img {
  margin: 1em 1,5em;
  width: 100%;
}

.articles button {
  margin: 1em 0;
  text-align: center;
  border-style: solid;
  border-color: red;
  background-color: white;
  color: red;
}

.validate {
  margin:2em;
  background-color: grey;
  border-color:black;
  text-align: center;
}
.name-invalid{  
  
  color:red;  
 }

label.error{
   color:red;

 }

input{

color:red;

}

.errors-container{
  background-color: hsl(0, 55%, 66%);
  border: 0.1em solid hsl(0, 55%, 58%);
  color: hsl(0, 0%, 100%);
  margin-bottom: 1em;
  width: 100%;
}

.errors-container ul{
  margin: 1em;
}

.errors-container.hidden{
  display: none;
}

.success-container{
  background-color: hsl(138, 59%, 45%);
  border: 0.1em solid hsl(96, 75%, 33%);
  color: hsl(0, 0%, 100%);
}

.success-container h1{
  font-size: 2em;
  padding: 1em;
}

.success-container.hidden{
  display: none;
}

.input-error {
  color: hsl(0, 100%, 50%);
}

#blog{
  color:black;
}